.myprofile-container {
  display: flex;
  justify-content: flex-start;
  padding: 40px;
  gap: 40px;
}

.mission-container,
.rockets-holder {
  width: 50%;
}

h2 {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

ul li {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  height: 30px;
}

ul li:last-child {
  border-bottom: none;
}
