* {
  padding: 0;
  margin: 0;
}

/* navBar component... */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 25px;
}

.banner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
  -webkit-animation: spin 10s infinite;
  animation: spin 10s infinite;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.divider {
  border-left: 2px solid #ccc;
}

.nav-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.9px;
  font-size: 13px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.486);
  color: #0290ff;

}

.nav-text.active {
  text-decoration: underline;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

/* Rocket page..... */
.rocket-card {
  padding: 20px;
  display: flex;
  gap: 15px;
}

.rocket-img {
  height: 200px;
  width: 250px;
}

.rocket-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reserve-btn,
.cancel-btn {
  display: flex;
  height: 40px;
  border-radius: 6px;
  width: 25%;
  background-color: #0290ff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: "Source+Sans+Pro", serif;
  color: #fff;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  background-color: #fff;
  border: 2px solid #ccc;
  color: black;
}

.badge {
  background-color: #3a8891;
  width: auto;
  height: 20px;
  border-style: none;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 700;
  padding: 10px;
  font-size: 12px;
  line-height: 0px;
  color: #fff;
}
