* {
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 25px;
}

.banner {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
  -webkit-animation: spin 10s infinite;
  animation: spin 10s infinite;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.divider {
  border-left: 2px solid #ccc;
}

.nav-text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.9px;
  font-size: 13px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.486);
}

.nav-text.active {
  color: #0290ff;
  text-decoration: underline;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
